@font-face {
    font-family: "Reey";
    src: url("fonts/Reey-Regular.otf");
}


/* header */

.main-block nav ul li a {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}

.main-block nav ul li {
    list-style-type: none;
}

.main-block nav ul li .search {
    border-radius: 20rem;
    height: 51px;
    background: #fff;
    margin-left: 1rem;
    padding-left: 5px;
}

.main-block nav ul li svg {
    margin-right: 30px;
}

.main-block input[type='search'] {
    border: none;
    outline: none;
    width: 120px;
    transition: width 2s;
}

.main-block header .nav-link:hover {
    text-decoration-line: underline;
    color: #fff;
}

.main-block input[type='search']:focus {
    width: 360px;
    transition: width 2s;
}

.scrolled header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 992px) {
    .scrolled header {
        background: #fff;
    }
    header {
        background: #fff;
    }
    header li a {
        color: #000 !important;
    }
    .nav-item:last-child {
        display: none;
    }
}


/* main block */

.main-block {
    background: url('img/main-block-bg.png') no-repeat;
    background-size: cover;
    height: 1056px;
}

.main-block .logo {
    max-width: 136px;
}

.main-block h1 {
    font-family: 'Reey';
    font-size: 91.67px;
    line-height: 160px;
    color: #fff;
}

.main-block h3 {
    font-family: 'Open Sans';
    font-size: 25px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: italic;
}

.main-block .btn-primary {
    font-family: 'Open Sans';
    font-size: 24.98px;
    font-weight: bolder;
    letter-spacing: normal;
    color: #2e3034;
    background: #eceded;
    padding: 5.5px 36px;
}

.main-block .btn-primary:hover {
    font-family: 'Open Sans';
    font-size: 24.98px;
    font-weight: bolder;
    background: #2e3034;
    color: #eceded;
    padding: 5.5px 36px;
    letter-spacing: normal;
}

.main-block .desc {
    font-family: 'Open Sans';
    font-size: 20.83px;
    font-style: italic;
    color: #fff;
}

.main-block .leaves-bg-main {
    bottom: -20%;
}

.main-block img.plate-main {
    max-width: 100%;
    height: auto;
}


/* menu block */

h2.title {
    font-family: "Reey";
    font-size: 75px;
    color: #222328;
    line-height: 150px;
}

p.desc,
span.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: #2f3135;
    font-weight: normal;
}

.menu-block img {
    max-width: 100%;
}

.menu-block .title-item {
    color: #343434;
    font-size: 29px;
    font-weight: bold;
}

.menu-block .desc-item {
    color: #343434;
    font-size: 23px;
    font-weight: normal;
}

.plate {
    -webkit-box-shadow: 0px 25px 23px 0px rgba(12, 13, 12, 0.35);
    -moz-box-shadow: 0px 25px 23px 0px rgba(12, 13, 12, 0.35);
    box-shadow: 0px 25px 23px 0px rgba(12, 13, 12, 0.35);
    border-radius: 90rem;
}

.btn-primary {
    background: #343434;
    border-radius: 25rem;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 20px 72px;
    border: none;
}

.btn-primary:hover {
    background: #000000;
    border-radius: 25rem;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 24px 80px;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
}

.carousel-indicators {
    bottom: -30px;
}


/* about us block */

.about-us-block {
    background: #27292c;
}

.about-us-block h2 {
    color: #fff;
}

.about-us-block .desc {
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    word-break: break-all;
    max-width: 525px;
}

.about-us-block .btn-primary {
    background: #fff;
    color: #27292c;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: bold;
    font-size: 27px;
    letter-spacing: normal;
    padding: 10px 56px;
}

.about-us-block .btn-primary:hover {
    background: #000;
    color: #fff;
}


/* discount block */

.discount-block img {
    max-width: 100%;
    height: auto;
}

.discount-block h3 {
    font-family: 'Open Sans';
    font-size: 58px;
    font-weight: bold;
    line-height: 70px;
}

.discount-block .desc {
    font-family: 'Open Sans';
    font-size: 29px;
    line-height: 35px;
}

.discount-block .btn-primary {
    background: #27292c;
    font-size: 29px;
    padding: 15px 55px;
    letter-spacing: 6px;
}

.discount-block .btn-primary:hover {
    background: #000;
}

.discount-block .text-block {
    max-width: 613px;
}


/* pizza block */

.pizza-block {
    background: url('img/pizza-bg.jpg') no-repeat;
    background-size: cover;
    height: 1082px;
}

.pizza-block .title {
    color: #fff;
    font-size: 58px;
}

.pizza-block .desc {
    font-family: 'Montserrat';
    font-size: 25px;
    color: #fff;
}

.pizza-block hr {
    color: #fafafa;
    height: 10px;
    width: 160px;
    opacity: 1;
}

.pizza-block .leaves {
    top: 23%;
    max-width: 100%;
}

.pizza-block .pizza {
    max-width: 100%;
    margin-left: auto;
}


/* reviews block */

.reviews-block .title {
    font-size: 42px;
    line-height: 42px;
}

.reviews-block .desc {
    font-size: 19px;
    color: #333d42;
}

.reviews-block .author-name {
    font-size: 21px;
    font-weight: bold;
    color: #3f3f3f;
}

.reviews-block .text-review {
    font-size: 25px;
    font-weight: 400;
    color: #3f3f3f;
    max-width: 792px;
}


/* subscribe block */

.subscribe-block {
    background: #27292c;
    height: 800px;
}

.subscribe-block .leaves {
    right: 0;
    top: 60%;
    max-width: 100%;
}

.subscribe-block h2 {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #fff;
    font-size: 75px;
    line-height: 60px;
}

.subscribe-block p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #fff;
    font-size: 29px;
    max-width: 890px;
}

.subscribe-block input {
    height: 64px;
    width: 320px;
    border-radius: 20rem;
    font-family: 'Open Sans';
    font-size: 25px;
}

.subscribe-block input:focus {
    box-shadow: none;
    border: 0px;
}

.subscribe-block .btn-primary {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 25px;
    padding: 14px 41px;
    letter-spacing: normal;
    right: 16%;
}

@media (max-width: 992px) {
    .subscribe-block input {
        width: 100%;
    }
}


/* footer block */

footer {
    height: 980px;
}

footer .title {
    font-family: 'Montserrat';
    font-size: 31px;
    color: #343434;
}

footer .desc {
    font-family: 'Montserrat';
    font-size: 23px;
    color: #343434;
}

footer ul li svg {
    background: #343434;
    border-radius: 25rem;
    padding: 6px;
}

footer .col h4 {
    font-family: 'Montserrat';
    font-size: 31px;
    color: #343434;
    font-weight: 400;
}

footer .col ul li a {
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 41.76px;
    color: #343434;
}